@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/Pt%20sans%20reg.ttf");
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url("/fonts/RobotoCondensedRegular.ttf");
}
@font-face {
  font-family: 'PTSans';
  src: url("/fonts/pt-sans.bold.ttf");
}
@font-face {
  font-family: 'RobotoCondensedBold';
  src: url("/fonts/RobotoCondensedBold.ttf");
}
.navbar-inverse .navbar-toggle {
  border-color: #0e5656;
  background-color: #126c6c;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #24d9da;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #158282;
}
.navbar-inverse .navbar-collapse {
  border: none;
  box-shadow: none;
}
.navbar-inverse.navbarCustom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  border: none;
  border-radius: 0;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(107, 171, 211, 0.3), rgba(34, 194, 196, 0.3));
  /* Standard syntax */
}
.navbar-inverse.navbarCustom li {
  list-style: none;
}
.navbar-inverse.navbarCustom li:hover {
  background-color: #158282;
}
.navbar-inverse.navbarCustom li a {
  padding: 5px 20px;
  line-height: 50px;
  text-decoration: none;
  font-size: 16px;
  color: #d3e1e7;
}
.navbar-inverse.navbarCustom li a:hover {
  color: white;
}
.post {
  background-image: url('/img/bg1.png');
  height: 100%;
}
.first-bg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.main-screen-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.comments h3 {
  font-size: 14pt;
}
.comments .date {
  color: #cccccc;
  font-family: 'PT Sans';
}
.comments .content {
  color: #000000;
  font-family: 'PT Sans';
}
.comments .name {
  color: #000000;
  font-family: 'RobotoCondensedBold';
}
.comments .small-button {
  border-radius: 5px;
  border: 2px solid #54b2ce;
  float: right;
  margin-right: 3px;
  font-family: RobotoCondensed;
  color: #31383c;
  font-size: 1em;
  line-height: 1em;
  font-weight: 700;
  box-sizing: border-box;
  background-color: rgba(49, 56, 60, 0);
}
@media (min-width: 768px) {
  .comments .small-button {
    margin-top: 10px;
  }
}
.position-block {
  margin-top: 35px;
  height: 100%;
}
.position-block .side-block {
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 6%;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: 'RobotoCondensed';
}
.position-block .side-block h3 {
  margin-bottom: 30px;
}
.position-block .side-block .t-button {
  border-radius: 5px;
  border: 1px solid #20c3c4;
  margin-right: 3px;
  font-family: RobotoCondensed;
  color: #31383c;
  font-size: 1em;
  line-height: 1em;
  font-weight: 700;
  box-sizing: border-box;
  background-color: rgba(49, 56, 60, 0);
  margin-bottom: 10px;
  margin-right: 5px;
}
@media (min-width: 768px) {
  .position-block .side-block .t-button {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .position-block .side-block .t-button {
    margin-top: 0;
  }
}
.block-center {
  margin-bottom: 50px;
  margin-top: 60px;
}
.block-center .position-content {
  margin-top: 3%;
}
.block-center .position-content a:hover {
  opacity: 0.75;
  text-decoration: none;
}
.block-center .position-content .top-block img {
  width: 100%;
}
.block-center .position-content .bot-block {
  padding: 3% 5% 5% 5%;
  height: 100%;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.block-center .position-content .bot-block h1 {
  font-family: 'RobotoCondensedBold';
  color: #000000;
  line-height: 30px;
  font-size: 1.5em;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}
.block-center .position-content .bot-block p {
  font-family: 'PT Sans';
  color: #000000;
  font-size: 1em;
  line-height: 30px;
  text-align: left;
  margin-bottom: 5%;
}
.block-center .position-content .bot-block h4 {
  font-family: 'PT Sans';
  color: #999999;
  font-size: 1em;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 20px 0;
}
.block-center .position-content .bot-block .share-block .share {
  display: inline-block;
  float: left;
}
.block-center .position-content .bot-block .share-block .share h3 {
  font-family: RobotoCondensedBold;
  color: #cccccc;
  font-size: 1em;
  line-height: 16px;
  text-align: left;
  margin: 15px 0;
}
.block-center .position-content .bot-block .share-block .left-btn {
  display: inline-block;
}
@media (min-width: 768px) {
  .block-center .position-content .bot-block .share-block .left-btn {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .block-center .position-content .bot-block .share-block .left-btn {
    margin-left: -10px;
  }
}
@media (min-width: 1200px) {
  .block-center .position-content .bot-block .share-block .left-btn {
    margin-left: 0;
  }
}
.block-center .position-content .bot-block .share-block .left-btn .share-btn {
  border-radius: 5px;
  border: 2px solid #cccccc;
  background-color: rgba(255, 255, 255, 0);
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.block-center .position-content .bot-block .right-block .tags {
  display: inline-block;
}
.block-center .position-content .bot-block .right-block .tags h3 {
  font-family: RobotoCondensedBold;
  color: #cccccc;
  font-size: 1em;
  line-height: 16px;
  text-align: left;
  margin: 15px 0;
}
@media (min-width: 768px) {
  .block-center .position-content .bot-block .right-block .right-btn {
    text-align: center;
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .block-center .position-content .bot-block .right-block .right-btn {
    float: right;
    margin-top: 4px;
    text-align: right;
  }
}
.block-center .position-content .bot-block .right-block .right-btn .big-button {
  border-radius: 5px;
  border: 1px solid #999999;
  width: 110px;
  height: 35px;
  font-family: RobotoCondensed;
  color: #31383c;
  font-size: 1em;
  line-height: 1em;
  margin-right: 3px;
  font-weight: 700;
  box-sizing: border-box;
  background-color: rgba(49, 56, 60, 0);
}
@media (min-width: 768px) {
  .block-center .position-content .bot-block .right-block .right-btn .big-button {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .block-center .position-content .bot-block .right-block .right-btn .big-button {
    margin-top: 0;
  }
}
.block-center .position-content .bot-block .right-block .right-btn .small-button {
  border-radius: 5px;
  border: 1px solid #999999;
  margin-right: 3px;
  font-family: RobotoCondensed;
  color: #31383c;
  font-size: 1em;
  line-height: 1em;
  font-weight: 700;
  box-sizing: border-box;
  background-color: rgba(49, 56, 60, 0);
}
@media (min-width: 768px) {
  .block-center .position-content .bot-block .right-block .right-btn .small-button {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .block-center .position-content .bot-block .right-block .right-btn .small-button {
    margin-top: 0;
  }
}
.block-center .position-content .photo-img {
  display: inline-block;
  float: left;
  margin: 0 5% 5% 0;
}
.block-center .position-content .center-button {
  float: center;
  text-align: center;
  width: 60%;
  border-radius: 5px;
  border: 2px solid #54b2ce;
  font-family: RobotoCondensed;
  color: #000000;
  font-size: 1em;
  height: 44px;
  font-weight: 700;
  line-height: 11px;
  background-color: rgba(255, 255, 255, 0);
}
.block-center .position-content .control-label {
  font-family: RobotoCondensed;
}
.write-to-me {
  padding: 3% 0;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #6babd3, #22c2c4);
  /* Standard syntax */
}
.write-to-me .write-heading {
  margin-bottom: 3%;
  color: #fff;
  font-family: 'UniSansHeavy';
  font-size: 36px;
}
.write-to-me .write-heading h1 {
  text-align: right;
}
.write-to-me .send-message {
  display: block;
  width: 240px;
  margin: 3% auto;
  padding: 5px;
  font-size: 24px;
  font-family: 'UniSansThin';
  border: none;
  border-radius: 5px;
  border-color: white;
  background: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.write-to-me .send-message:hover {
  background: #d0edf2;
}
.write-to-me .send-message:active {
  background-color: #7cc5e6;
  color: white;
  border-color: #7cc5e6;
  outline: none;
}
footer {
  background-color: #22282b;
}
footer p {
  margin: 30px 0;
  color: #fff;
  text-align: center;
  font-family: 'UniSansHeavy';
  font-size: 24px;
}
footer p span {
  color: #54b2ce;
  font-family: 'PT Sans';
  font-weight: bold;
}
@media (min-width: 750px) {
  .send-message {
    margin: 3% !important;
  }
}
.button-hover {
  background-color: #61aed1;
  color: white;
  border-color: #61aed1;
}
.button-active {
  background-color: #7cc5e6;
  color: white;
  border-color: #7cc5e6;
  outline: none;
}
body {
  font-size: 16px;
  /* global font */
}

/*# sourceMappingURL=main.css.map */
