.blog {
  background-image: url('/img/blog_bg.png');
  color: white;
  padding: 6%;
  .blog-text {
    font-family: 'PT Sans';
    font-size: 18px;
    @media @bootstrap-xs {
      text-align: center;
    }
    p {
      margin-top: 20px;
      @media @bootstrap-xs {
        text-align: center;
      }
      @media @bootstrap-sm {
        text-align: left;
      }
      @media @bootstrap-md {
        text-align: left;
      }
    }
  }
  .link-a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: 'RobotoCondensed';
    @media @bootstrap-xs {
      text-align: center;
      margin-bottom: 20px;
    }
    @media @bootstrap-sm {
      text-align: left;
      margin-bottom: 20px;
    }
    @media @bootstrap-md {
      text-align: left;
      margin-bottom: 0;
    }
  }
}


.blog-heading {
  margin-bottom: 3%;
}

.img-responsive {
  width: 100%;
  border: 3px solid #2cbfc6;
  border-radius: 4px;
  padding: 7px;
}

.border-btn {
  display: block;
  font-family: 'RobotoCondensed';
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  width: 150px;
  height: 44px;
  margin: 15px 0;
  background: transparent;
  color: #FFFFFF;
  padding: 0;
  border: 2px solid #61aed1;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  outline: none;
  &:hover {
    background-color: #61aed1;
    color: white;
    border-color: #61aed1;
    outline: none;
    text-decoration: none;
  }
  &:active {
    background-color: #7cc5e6;
    color: white;
    border-color: #7cc5e6;
    outline: none;
    text-decoration: none;
  }
}

