.howiworks {
  background: url('/img/hiw-bg.png');
  padding-top: 63px;
  padding-bottom: 63px;
}
.nav-tabs {
  border-bottom: 1px solid #999999;
}
.nav-tabs>li>a {
  @media all and (max-width: 1190px) {
    padding-left: 5px;
    padding-right: 5px;
  }
  border: none;
  text-align: center;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
  border: none;
  background: transparent;
  .image-how {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
.nav-tabs>li.active {
  p {
    opacity: 1.0 !important;
  }
  .image-how {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

.nav-tabs {
  li {
    width: 14.24%;
    .active {
      p {
        opacity: 1.0 !important;
      }
      a {
        .blocks-how {

          .image-how {
            -webkit-filter: grayscale(0%) !important;
            filter: grayscale(0%) !important;
          }
        }
      }
    }
  }
}
.nav-tabs>li.active>a>.blocks-how>.img-how {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:active {
  border: none;
  background: transparent;
  .image-how {
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%) !important;
  }
}
.nav-tabs>li>a>.blocks-how>.img-active {
  display: none;
}
.nav-tabs>li.active>a>.blocks-how>.img-active {
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: 0;
  display: block;
  @media all and (min-width: 320px) and (max-width: 780px) {
    display: none;
  }
}
.nav-tabs>li>a>.blocks-how {
  text-align: center;
  height: 130px;
  width: 100%;
  &:active {
    .image-how {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
}
.nav-tabs>li>a>.blocks-how>.image-how {
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.nav-tabs>li>a>.blocks-how>p {
    /* Text style for "Technical" */
    opacity: 0.3;
    font-family: 'RobotoCondensed';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    position: absolute;
    top: 70px;
    width: 100%;
    left: 0;
}
.nav-tabs li::after {
    content:" ";
    background: url(../../img/str.png) no-repeat;
    width: 53px;
    height: 46px;
    display: inline-block;
    position: absolute;
    top: 60px;
    right: -50px;
}
.nav-tabs>li:last-child:after {
   display: none;
}
.button-container {
 margin-left: 9%;
 margin-top: 10%;
}



.tab-content {
  .tab-pane {
    p {
      font-family: 'PT Sans';
      margin-bottom: 3%;
      font-size: 18px;
      color: white;
    }
    h3 {
      margin-bottom: 3%;
      color: #fff;
      font-size: 24px;
      font-family: 'RobotoCondensed';
    }
  }
}


.panel-group {
  text-align: center;
  margin-top: 3%;
  .panel {
    background-color: transparent;
    border: none;

  }

  .panel-default {

  }

  .panel-title {
    a {
      text-decoration: none;
      &:active {
        text-decoration: none;
      }
    }
    p {
      opacity: 0.3;
      font-family: 'RobotoCondensed';
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      margin-top: 10px;
    }

    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      &:active {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
      }
      &:hover {
        -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
      }
    }
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;       
    bottom: 10px;
    width: 100%;
    left: 0;
  }
  .active {
      .panel-title {
        a {
          img {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
          }
          p {
            opacity: 1.0;
          }
        }
        
      }
    }
  .panel-heading {
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: none;
  }
  .panel-body {
    h3 {
      margin-bottom: 3%;
      color: #fff;
      font-size: 24px;
      font-family: 'RobotoCondensed';
    }
    text-align: center;
    font-family: 'PT Sans';
    margin-bottom: 3%;
    font-size: 18px;
    border: none !important;
    color: #fff;
  }
}