@import "../mixins";
@bg-gray: #31383c;
@aquamarine: rgb(32,195,196);


.col-sm-2-m {
  position: relative;
  min-height: 1px;
  float: left;
  @media @bootstrap-xs {
    width: 100%;
  }

  @media @bootstrap-md {
    width: 20%;
  }
}

@import "popup";
@import "navbar";
@import "intro";
@import "how-i-work";
@import "my-works";
@import "project-1";
@import "project-2";
@import "circle";

@import "skills";
@import "about-me";
@import "what-people-say";
@import "blog";
@import "footer";

.wrap {
  width: 100%;
}
.title {
  margin-bottom: 6%;
  text-align: center;
  font-size: 36px;
  font-family: 'RobotoCondensed';
  text-transform: uppercase;
  color: #ffffff;
}
.button-hover {
  background-color: #61aed1;
  color: white;
  border-color: #61aed1;
  border-radius: 4px;
}
.button-active {
  z-index: 28;
  background-color: #7cc5e6;
  color: white;
  border-color: #7cc5e6;
  outline: none;
}

@media (min-width: 768px) {
  .intro {
    h1 {
      font-size: 6rem !important;
    }
  }
  .img-wrapper {
    margin: 0;
  }
  .project-1 {
    background-size: 100% 200%;
  }
  .svg-wrap {
    width: 35% !important;
  }
}

@media (max-width: 450px) {
  .svg-wrap {
    display: none;
  }

  .write-to-me {
    .send-message {
      margin-bottom: 7%;
    }
  }

  footer {
    padding: 5% 0;
    p {
      margin: 10px;
    }
  }
}









