.skills {
  padding: 3% 0;
  font-family: 'UniSansThin';
  color: #ffffff;
  background-image: url('/img/hiw-bg.png');
  .skills-block {
    width: 100%;
    @media @bootstrap-xs {
      padding-left: 30%;
      padding-right: 20%;
    }
    @media @bootstrap-sm {
      padding-left: 20px;
    }
    .percents {
      display: block;
      .text-skills {
        text-align: center;
        color: white;
        font-family: 'PT Sans';
        font-size: 18px;
        font-style: italic;
        line-height: 20px;
      }
    }
    .list {
      margin-top: 20px;
      margin-bottom: 30px;
      color: white;
      font-family: 'PT Sans';
      font-size: 16px;
      font-style: italic;
      line-height: 30px;
      span {
        color: #54b2ce;
        margin-right: 15px;
        font-size: 20px;
      }
    }
  }
  .last-skills {
    @media @bootstrap-sm {
      .last-1 {
        padding-left: 160px;
      }
      .last-2 {
        padding-left: 50px;
        padding-right: 110px;
      }
    }
    @media @bootstrap-md {
      .last-1 {
        padding-left: 0;
      }
      .last-2 {
        padding-left: 0;
        padding-right: 0;
      }
      .skills-block {
        padding-left: 20px;
      }
    }
  }
}
