.what-people-say {
  padding: 3% 0;
  color: #ffffff;
  background-image: url('/img/hiw-bg.png');
  h1 {
    margin-bottom: 3%;
    text-align: center;
    font-family: 'UniSansHeavy';
    font-size: 36px;
  }
  p {
    text-align: center;
    font-family: 'PT Sans';
    font-size: 22px;
  }
  .ivan-ivanov {
    display: table;
    margin: 25px auto;
    img {  margin-right: 15px;  }
    p {
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      font-size: 18px;
    }
    span {  font-weight: bold;  }
  }
}