@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/Pt%20sans%20reg.ttf");
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url("/fonts/RobotoCondensedRegular.ttf");
}
@font-face {
  font-family: 'PTSans';
  src: url("/fonts/pt-sans.bold.ttf");
}
@font-face {
  font-family: 'RobotoCondensedBold';
  src: url("/fonts/RobotoCondensedBold.ttf");
}
.navbar-inverse .navbar-toggle {
  border-color: #0e5656;
  background-color: #126c6c;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #24d9da;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #158282;
}
.navbar-inverse .navbar-collapse {
  border: none;
  box-shadow: none;
}
.navbar-inverse.navbarCustom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  border: none;
  border-radius: 0;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(107, 171, 211, 0.3), rgba(34, 194, 196, 0.3));
  /* Standard syntax */
}
.navbar-inverse.navbarCustom li {
  list-style: none;
}
.navbar-inverse.navbarCustom li:hover {
  background-color: #158282;
}
.navbar-inverse.navbarCustom li a {
  padding: 5px 20px;
  line-height: 50px;
  text-decoration: none;
  font-size: 16px;
  color: #d3e1e7;
}
.navbar-inverse.navbarCustom li a:hover {
  color: white;
}
.blog {
  background-image: url('/img/hiw-bg.png');
  height: 100%;
}
.first-bg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.main-screen-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.position-block {
  margin-top: 103px;
  height: 100%;
}
.position-block .side-block {
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: 'RobotoCondensed';
}
.position-block .side-block h3 {
  margin-bottom: 30px;
}
.position-block .side-block .big-button {
  border-radius: 5px;
  border: 1px solid #20c3c4;
  width: 110px;
  height: 35px;
  font-family: RobotoCondensed;
  color: #31383c;
  font-size: 1em;
  line-height: 1em;
  margin-right: 3px;
  font-weight: 700;
  box-sizing: border-box;
  background-color: rgba(49, 56, 60, 0);
}
@media (min-width: 768px) {
  .position-block .side-block .big-button {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .position-block .side-block .big-button {
    margin-top: 0;
  }
}
.position-block .side-block .small-button {
  border-radius: 5px;
  border: 1px solid #20c3c4;
  width: 50px;
  height: 35px;
  margin-right: 3px;
  font-family: RobotoCondensed;
  color: #31383c;
  font-size: 1em;
  line-height: 1em;
  font-weight: 700;
  box-sizing: border-box;
  background-color: rgba(49, 56, 60, 0);
  margin-bottom: 10px;
  margin-right: 5px;
}
@media (min-width: 768px) {
  .position-block .side-block .small-button {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .position-block .side-block .small-button {
    margin-top: 0;
  }
}
.block-center {
  padding: 3% 5% 5% 5%;
  margin-bottom: 50px;
  margin-top: 60px;
  margin-left: 3%;
}
.block-center .position-content {
  margin-top: 3%;
}
.block-center .position-content a:hover {
  opacity: 0.75;
  text-decoration: none;
}
.block-center .position-content .top-block img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.block-center .position-content .bot-block {
  padding: 3% 5% 5% 5%;
  height: 100%;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.block-center .position-content .bot-block h1 {
  font-family: 'RobotoCondensedBold';
  color: #000000;
  line-height: 30px;
  font-size: 1.5em;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}
.block-center .position-content .bot-block p {
  font-family: 'PT Sans';
  color: #000000;
  font-size: 1em;
  line-height: 30px;
  text-align: left;
  margin-bottom: 5%;
}
.block-center .position-content .bot-block h4 {
  font-family: 'PT Sans';
  color: #999999;
  font-size: 1em;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 20px 0;
}
.block-center .position-content .bot-block .share {
  display: inline-block;
  float: left;
}
.block-center .position-content .bot-block .share h3 {
  font-family: RobotoCondensedBold;
  color: #cccccc;
  font-size: 1em;
  line-height: 16px;
  text-align: left;
  margin: 15px 0;
}
.block-center .position-content .bot-block .left-btn {
  display: inline-block;
}
.block-center .position-content .bot-block .left-btn .share-btn {
  border-radius: 5px;
  border: 2px solid #cccccc;
  background-color: rgba(255, 255, 255, 0);
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.block-center .position-content .bot-block .right-btn {
  display: inline-block;
  float: right;
}
.block-center .position-content .bot-block .right-btn .read-more {
  border-radius: 5px;
  border: 2px solid #20c3c4;
  background-color: rgba(255, 255, 255, 0);
  width: 150px;
  height: 44px;
  font-family: RobotoCondensed;
  color: #31383c;
  font-size: 1em;
  font-weight: 700;
}
.search {
  margin-bottom: 50px;
}
.search .search-btn {
  border: 2px solid #20c3c4;
  background-color: rgba(255, 255, 255, 0);
  width: 44px;
  height: 44px;
  color: #ffffff;
  font-family: RobotoCondensedBold;
  font-size: 1em;
  line-height: 11px;
  border-radius: 7px;
}
.search .middle {
  border-radius: 3px;
}
.search .middle-left {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.search .middle-right {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.btn-toolbar {
  margin-left: 8%;
}
.btn-toolbar .ps-search {
  margin-left: 10px;
}
.write-to-me {
  padding: 3% 0;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #6babd3, #22c2c4);
  /* Standard syntax */
}
.write-to-me .write-heading {
  margin-bottom: 3%;
  color: #fff;
  font-family: 'UniSansHeavy';
  font-size: 36px;
}
.write-to-me .write-heading h1 {
  text-align: right;
}
.write-to-me .send-message {
  display: block;
  width: 240px;
  margin: 3% auto;
  padding: 5px;
  font-size: 24px;
  font-family: 'UniSansThin';
  border: none;
  border-radius: 5px;
  border-color: white;
  background: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.write-to-me .send-message:hover {
  background: #d0edf2;
}
.write-to-me .send-message:active {
  background-color: #7cc5e6;
  color: white;
  border-color: #7cc5e6;
  outline: none;
}
footer {
  background-color: #22282b;
}
footer p {
  margin: 30px 0;
  color: #fff;
  text-align: center;
  font-family: 'UniSansHeavy';
  font-size: 24px;
}
footer p span {
  color: #54b2ce;
  font-family: 'PT Sans';
  font-weight: bold;
}
@media (min-width: 750px) {
  .send-message {
    margin: 3% !important;
  }
}
.popup {
  display: none;
}
.popup .popup-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(69, 79, 85, 0.5);
  z-index: 5;
  box-sizing: border-box;
}
.popup .popup-wrapper form {
  position: relative;
  width: 55%;
  top: 50%;
  transform: translateY(-50%);
  padding: 5%;
  margin: auto;
  z-index: 10;
  border-radius: 5px;
  background-color: #95a3aa;
}
.popup .popup-wrapper form label {
  font-family: 'PT Sans';
  font-size: 16px;
  color: #415058;
}
.popup .popup-wrapper form input,
.popup .popup-wrapper form textarea {
  background-color: #d9d6d6;
  border-radius: 2px;
}
.popup .popup-wrapper form input:focus,
.popup .popup-wrapper form textarea:focus {
  outline: none !important;
  border: 1px solid white;
  box-shadow: 0 0 10px #719ECE;
}
.popup .popup-wrapper form .send-message-popup {
  float: right;
  display: block;
  width: 240px;
  margin-top: 30px;
  padding: 5px;
  font-size: 24px;
  font-family: 'UniSansThin';
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease-in-out;
}
.popup .popup-wrapper form .send-message-popup:hover {
  background: #798a93;
}
.popup .popup-wrapper form .send-message-popup:active {
  background: #617078;
}
.popup .popup-wrapper form .txt-area-wrap {
  margin-top: 15px;
}
.button-hover {
  background-color: #61aed1;
  color: white;
  border-color: #61aed1;
}
.button-active {
  background-color: #7cc5e6;
  color: white;
  border-color: #7cc5e6;
  outline: none;
}
body {
  font-size: 16px;
  /* global font */
}

/*# sourceMappingURL=main.css.map */
