@font-face {
  font-family: 'RobotoCondensed';
  src: url("/fonts/RobotoCondensedRegular.ttf");
}
@font-face {
  font-family: 'RobotoCondensedBold';
  src: url("/fonts/RobotoCondensedBold.ttf");
}
@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/Pt%20sans%20reg.ttf");
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url("/fonts/pt-sans.bold.ttf");
}
@font-face {
  font-family: 'UniSansHeavy';
  src: url("/fonts/UniSansHeavyCAPS.eot");
  src: url("/fonts/UniSansHeavyCAPS.eot?#iefix") format("embedded-opentype"), url("/fonts/Uni%20Sans%20Heavy.otf") format("opentype"), url("/fonts/UniSansHeavyCAPS.woff") format("woff"), url("/fonts/UniSansHeavyCAPS.ttf") format("truetype"), url("/fonts/UniSansHeavyCAPS.svg#UniSansHeavy") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniSansThin';
  src: url("/fonts/UniSansThinCAPS.eot");
  src: url("/fonts/UniSansThinCAPS.eot?#iefix") format("embedded-opentype"), url("/fonts/Uni%20Sans%20Thin.otf") format("opentype"), url("/fonts/UniSansThinCAPS.woff") format("woff"), url("/fonts/UniSansThinCAPS.ttf") format("truetype"), url("/fonts/UniSansThinCAPS.svg#UniSansThin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniSansThinItalic';
  src: url('/fonts/Uni%20Sans%20Thin%20Italic.otf');
  src: url("/fonts/UniSansThinItalicCAPS.eot?#iefix") format("embedded-opentype"), url("/fonts/Uni%20Sans%20Thin%20Italic.otf") format("opentype"), url("/fonts/UniSansThinItalicCAPS.woff") format("woff"), url("/fonts/UniSansThinItalicCAPS.ttf") format("truetype"), url("/fonts/UniSansThinItalicCAPS.svg#UniSansThin") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 16px;
  /* global font */
}
.col-sm-2-m {
  position: relative;
  min-height: 1px;
  float: left;
}
@media (max-width:767px) {
  .col-sm-2-m {
    width: 100%;
  }
}
@media (min-width:992px) {
  .col-sm-2-m {
    width: 20%;
  }
}
.modal-dialog {
  margin-top: 10vh;
}
.modal-dialog .modal-content {
  background-color: #31383c;
}
.modal-dialog .modal-content .modal-header {
  border-bottom: none;
}
.modal-dialog .modal-content .modal-header .close {
  color: #FFFFFF;
}
.modal-dialog .modal-content .modal-body {
  padding: 44px;
}
.modal-dialog .modal-content .modal-body label {
  margin-top: 20px;
  font-family: 'PT Sans';
  font-size: 16px;
  color: #FFFFFF;
}
.modal-dialog .modal-content .modal-body input,
.modal-dialog .modal-content .modal-body textarea {
  background-color: #eeebeb;
  border-radius: 2px;
}
.modal-dialog .modal-content .modal-body input:focus,
.modal-dialog .modal-content .modal-body textarea:focus {
  outline: none !important;
  border: 1px solid white;
  box-shadow: 0 0 10px #719ECE;
}
.modal-dialog .modal-content .modal-body .send-message-popup {
  float: right;
  display: block;
  width: 240px;
  margin-top: 30px;
  padding: 5px;
  font-size: 24px;
  font-family: 'RobotoCondensed';
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease-in-out;
}
.modal-dialog .modal-content .modal-body .send-message-popup:hover {
  background: #798a93;
}
.modal-dialog .modal-content .modal-body .send-message-popup:active {
  background: #617078;
}
.navbar-inverse .navbar-toggle {
  border-color: #0e5656;
  background-color: #126c6c;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #24d9da;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #158282;
}
.navbar-inverse .navbar-collapse {
  border: none;
  box-shadow: none;
}
@media all and (min-width: 320px) and (max-width: 780px) {
  .navbar-inverse .navbar-collapse {
    background-color: #4b98ae;
  }
}
.navbar-inverse .navbar-nav > .active > a {
  color: #fff;
  background-color: #4cb5cd;
}
.navbarCustom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 22;
  border: none;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(107, 171, 211, 0.3), rgba(34, 194, 196, 0.3));
  /* Standard syntax */
}
.navbarCustom li {
  list-style: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.navbarCustom li:hover {
  background-color: #61aed1;
}
.navbarCustom li a {
  color: white !important;
  font-family: 'PT Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 11px;
  text-transform: uppercase;
  padding: 5px 20px;
  line-height: 50px;
  text-decoration: none;
  font-size: 16px;
}
.navbarCustom li a:hover {
  color: white !important;
}
.img-bg-wrap {
  position: absolute;
  height: 100vh;
  width: 100%;
}
.img-bg-wrap .img-bg {
  position: absolute;
  height: 100vh;
  width: 100%;
}
.first-bg {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(90deg, #6babd3 0%, #22c2c4 100%);
  background-size: 100% 100%;
}
.main-screen-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url("/img/intro-bg.png") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.85;
}
.pc-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  /*background: url("/img/nout.svg") no-repeat bottom right fixed;
  background-size: 50% 85%;*/
}
.pc-bg .svg-wrap {
  position: absolute;
  right: 5%;
  height: 100vh;
  width: 60%;
}
.pc-bg .svg-wrap svg {
  height: 100%;
  width: 100%;
}
.intro {
  height: 100vh;
  color: white;
}
.intro .container {
  font-family: 'RobotoCondensed';
  color: #ffffff;
}
.intro .container h1 {
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 400;
}
.intro .container h1:first-of-type {
  margin-top: 33vh;
}
.intro .container h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 25px;
}
.intro .container .btn {
  width: 162px;
  margin: 4vh 4vw 0 0;
  border-color: white;
  font-size: 18px;
  border-radius: 5px;
  background: transparent;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.intro .container .contact-me {
  background-color: transparent;
  color: #3c3c3c;
}
.intro .container .contact-me:hover {
  background-color: #61aed1;
  color: white;
  border-color: #61aed1;
  border-radius: 4px;
}
.intro .container .contact-me:active {
  z-index: 28;
  background-color: #7cc5e6;
  color: white;
  border-color: #7cc5e6;
  outline: none;
}
.howiworks {
  background: url('/img/hiw-bg.png');
  padding-top: 63px;
  padding-bottom: 63px;
}
.nav-tabs {
  border-bottom: 1px solid #999999;
}
.nav-tabs > li > a {
  border: none;
  text-align: center;
}
@media all and (max-width: 1190px) {
  .nav-tabs > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
  border: none;
  background: transparent;
}
.nav-tabs > li > a .image-how,
.nav-tabs > li > a:focus .image-how,
.nav-tabs > li > a:hover .image-how {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.nav-tabs > li.active p {
  opacity: 1.0 !important;
}
.nav-tabs > li.active .image-how {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.nav-tabs li {
  width: 14.24%;
}
.nav-tabs li .active p {
  opacity: 1.0 !important;
}
.nav-tabs li .active a .blocks-how .image-how {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
}
.nav-tabs > li.active > a > .blocks-how > .img-how {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:active {
  border: none;
  background: transparent;
}
.nav-tabs > li.active > a .image-how,
.nav-tabs > li.active > a:focus .image-how,
.nav-tabs > li.active > a:hover .image-how,
.nav-tabs > li.active > a:active .image-how {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
}
.nav-tabs > li > a > .blocks-how > .img-active {
  display: none;
}
.nav-tabs > li.active > a > .blocks-how > .img-active {
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: 0;
  display: block;
}
@media all and (min-width: 320px) and (max-width: 780px) {
  .nav-tabs > li.active > a > .blocks-how > .img-active {
    display: none;
  }
}
.nav-tabs > li > a > .blocks-how {
  text-align: center;
  height: 130px;
  width: 100%;
}
.nav-tabs > li > a > .blocks-how:active .image-how {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.nav-tabs > li > a > .blocks-how > .image-how {
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.nav-tabs > li > a > .blocks-how > span {
  /* Text style for "Technical" */
  opacity: 0.3;
  display: block;
  font-family: 'RobotoCondensed';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 5px;
  position: absolute;
  top: 70px;
  width: 100%;
  left: 0;
}
.nav-tabs li::after {
  content: " ";
  background: url(../../img/str.png) no-repeat;
  width: 53px;
  height: 46px;
  display: inline-block;
  position: absolute;
  top: 60px;
  right: -50px;
}
.nav-tabs > li:last-child:after {
  display: none;
}
.button-container {
  margin-left: 9%;
  margin-top: 10%;
}
.tab-content .tab-pane p {
  font-family: 'PT Sans';
  margin-bottom: 3%;
  font-size: 18px;
  color: white;
}
.tab-content .tab-pane h3 {
  margin-bottom: 3%;
  color: #fff;
  font-size: 24px;
  font-family: 'RobotoCondensed';
}
.panel-group {
  text-align: center;
  margin-top: 3%;
}
.panel-group .panel {
  background-color: transparent;
  border: none;
}
.panel-group .panel-title {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  bottom: 10px;
  width: 100%;
  left: 0;
}
.panel-group .panel-title a {
  text-decoration: none;
}
.panel-group .panel-title a:active {
  text-decoration: none;
}
.panel-group .panel-title span {
  display: block;
  opacity: 0.3;
  font-family: 'RobotoCondensed';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}
.panel-group .panel-title img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.panel-group .panel-title img:active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.panel-group .panel-title img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.panel-group .active .panel-title a img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.panel-group .active .panel-title a span {
  opacity: 1.0;
}
.panel-group .panel-heading {
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: none;
}
.panel-group .panel-body {
  text-align: center;
  font-family: 'PT Sans';
  margin-bottom: 3%;
  font-size: 18px;
  border: none !important;
  color: #fff;
}
.panel-group .panel-body h3 {
  margin-bottom: 3%;
  color: #fff;
  font-size: 24px;
  font-family: 'RobotoCondensed';
}
.my-works {
  padding: 3% 0 5% 0;
  font-family: 'RobotoCondensed';
  color: #ffffff;
  background: url('/img/my-works-bg-1.png') center center no-repeat #31383c;
}
.my-works h2 {
  font-family: 'RobotoCondensed';
  margin-bottom: 30px;
}
.my-works .see {
  font-family: 'RobotoCondensed';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
}
@media (max-width:767px) {
  .my-works .see {
    margin-bottom: 10px;
  }
}
@media (min-width:768px) {
  .my-works .see {
    margin-bottom: 10px;
  }
}
@media (min-width:992px) {
  .my-works .see {
    float: right;
    margin-bottom: 50px;
  }
}
.my-works .view-blocks {
  color: #54b2ce;
  text-decoration: underline;
}
@media (max-width:767px) {
  .my-works .view-blocks {
    display: block;
  }
}
@media (min-width:768px) {
  .my-works .view-blocks {
    display: block;
  }
}
@media (min-width:992px) {
  .my-works .view-blocks {
    float: left;
    display: inline-block;
  }
}
.my-works .img-wrapper {
  margin-bottom: 20px;
}
.my-works .img-wrapper img:last-of-type {
  right: 0;
}
@media (max-width:767px) {
  .my-works .project-img {
    padding-left: 0;
    width: 80%;
  }
}
@media (min-width:768px) {
  .my-works .project-img {
    padding-left: 0;
    width: 80%;
  }
}
@media (min-width:992px) {
  .my-works .project-img {
    padding-left: 50px;
    width: 100%;
  }
}
.my-works .title-about {
  margin: 0 0 30px 0;
  font-family: 'RobotoCondensed';
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width:767px) {
  .my-works .title-about {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
@media (min-width:768px) {
  .my-works .title-about {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
@media (min-width:992px) {
  .my-works .title-about {
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
  }
}
.my-works .my-work-block-1 {
  text-align: center;
}
@media (max-width:767px) {
  .about-project {
    text-align: center;
  }
}
@media (min-width:768px) {
  .about-project {
    text-align: center;
  }
}
@media (min-width:992px) {
  .about-project {
    text-align: left;
  }
}
@media all and (min-width: 320px) and (max-width: 780px) {
  .about-project img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.about-project a {
  text-decoration: none;
  color: white;
}
.about-project p {
  line-height: 20px;
  font-family: 'PT Sans';
  font-size: 16px;
  margin-top: 20px;
}
@media (max-width:767px) {
  .about-project p {
    text-align: center;
  }
}
@media (min-width:768px) {
  .about-project p {
    text-align: center;
  }
}
@media (min-width:992px) {
  .about-project p {
    text-align: left;
  }
}
.about-project .border-btn-pro {
  display: block;
  text-align: center;
  color: white;
  font-family: 'RobotoCondensed';
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  width: 150px;
  height: 44px;
  margin: 15px 0;
  background: transparent;
  border: 2px solid #20c3c4;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  outline: none;
}
.about-project .border-btn-pro:hover {
  background-color: #61aed1;
  color: white;
  border-color: #61aed1;
  border-radius: 4px;
}
.about-project .border-btn-pro:active {
  z-index: 28;
  background-color: #7cc5e6;
  color: white;
  border-color: #7cc5e6;
  outline: none;
}
.img-wrapper {
  position: relative;
}
.img-wrapper img:first-of-type {
  width: 90%;
}
.img-wrapper img:last-of-type {
  position: absolute;
  width: 30%;
  bottom: -20px;
}
.project-1 {
  padding: 5% 0 4% 0;
  font-family: 'UniSansThin';
  color: #ffffff;
  background: url('/img/bg1-01.png') center center no-repeat #454f55;
  background-size: 150% 200%;
}
.project-1 img {
  width: 100%;
  border-radius: 3px;
}
@media (max-width:767px) {
  .project-1 .project-img {
    padding: 0;
  }
}
@media (min-width:768px) {
  .project-1 .project-img {
    padding: 0;
  }
}
@media (min-width:992px) {
  .project-1 .project-img {
    padding: 0 50px 0 0;
  }
}
@media all and (min-width: 320px) and (max-width: 780px) {
  .project-1 .text-wrapper img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.project-1 .text-wrapper h3 {
  margin-top: 15px;
}
@media all and (min-width: 320px) and (max-width: 780px) {
  .project-1 .text-wrapper h3 {
    text-align: center;
    margin-top: 30px;
  }
}
.project-1 .text-wrapper .border-btn span {
  background-color: #454f55;
}
.project-1 .text-wrapper .border-btn span:hover {
  background-color: #61aed1;
  color: white;
  border-color: #61aed1;
  border-radius: 4px;
}
.project-1 .text-wrapper .border-btn span:active {
  z-index: 28;
  background-color: #7cc5e6;
  color: white;
  border-color: #7cc5e6;
  outline: none;
}
.without-mobile .img-wrapper img {
  float: none !important;
  position: relative;
  width: 100%;
  bottom: 0;
}
.project-2 {
  padding: 5% 0;
  font-family: 'UniSansThin';
  color: #ffffff;
  background: url('/img/my-works-bg-1.png') center center no-repeat;
  background-color: #31383c;
}
.project-2 .text-wrapper {
  margin-bottom: 20px;
}
@media all and (min-width: 320px) and (max-width: 780px) {
  .project-2 .text-wrapper img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.project-2 .img-wrapper {
  margin-bottom: 20px;
}
.project-2 .img-wrapper img:last-of-type {
  right: 0;
}
.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}
.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
  position: absolute;
  border: 0.08em solid #54b2ce;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  transform: rotate(0deg);
}
.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
  transform: rotate(180deg);
}
.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0 0.1em 0.1em 0;
  background-color: rgba(44, 77, 83, 0.3);
}
.c100 *,
.c100 *:before,
.c100 *:after {
  box-sizing: content-box;
}
.c100.center {
  float: none;
  margin: 0 auto;
}
.c100.big {
  font-size: 240px;
}
.c100.small {
  font-size: 80px;
}
.c100 > span {
  /* Text style for "php" */
  width: 28px;
  height: 12px;
  color: white;
  font-family: 'RobotoCondensed';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 14px;
  top: 15px;
  width: 5em;
  line-height: 5em;
  font-size: 18px;
  color: #fff;
  display: block;
  text-align: center;
  white-space: nowrap;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: #fff;
  background-image: linear-gradient(to right, #374a56 0%, #215151 100%);
  width: 0.84em;
  height: 0.84em;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}
.c100.p1 .bar {
  transform: rotate(3.6deg);
}
.c100.p2 .bar {
  transform: rotate(7.2deg);
}
.c100.p3 .bar {
  transform: rotate(10.8deg);
}
.c100.p4 .bar {
  transform: rotate(14.4deg);
}
.c100.p5 .bar {
  transform: rotate(18deg);
}
.c100.p6 .bar {
  transform: rotate(21.6deg);
}
.c100.p7 .bar {
  transform: rotate(25.2deg);
}
.c100.p8 .bar {
  transform: rotate(28.8deg);
}
.c100.p9 .bar {
  transform: rotate(32.4deg);
}
.c100.p10 .bar {
  transform: rotate(36deg);
}
.c100.p11 .bar {
  transform: rotate(39.6deg);
}
.c100.p12 .bar {
  transform: rotate(43.2deg);
}
.c100.p13 .bar {
  transform: rotate(46.800000000000004deg);
}
.c100.p14 .bar {
  transform: rotate(50.4deg);
}
.c100.p15 .bar {
  transform: rotate(54deg);
}
.c100.p16 .bar {
  transform: rotate(57.6deg);
}
.c100.p17 .bar {
  transform: rotate(61.2deg);
}
.c100.p18 .bar {
  transform: rotate(64.8deg);
}
.c100.p19 .bar {
  transform: rotate(68.4deg);
}
.c100.p20 .bar {
  transform: rotate(72deg);
}
.c100.p21 .bar {
  transform: rotate(75.60000000000001deg);
}
.c100.p22 .bar {
  transform: rotate(79.2deg);
}
.c100.p23 .bar {
  transform: rotate(82.8deg);
}
.c100.p24 .bar {
  transform: rotate(86.4deg);
}
.c100.p25 .bar {
  transform: rotate(90deg);
}
.c100.p26 .bar {
  transform: rotate(93.60000000000001deg);
}
.c100.p27 .bar {
  transform: rotate(97.2deg);
}
.c100.p28 .bar {
  transform: rotate(100.8deg);
}
.c100.p29 .bar {
  transform: rotate(104.4deg);
}
.c100.p30 .bar {
  transform: rotate(108deg);
}
.c100.p31 .bar {
  transform: rotate(111.60000000000001deg);
}
.c100.p32 .bar {
  transform: rotate(115.2deg);
}
.c100.p33 .bar {
  transform: rotate(118.8deg);
}
.c100.p34 .bar {
  transform: rotate(122.4deg);
}
.c100.p35 .bar {
  transform: rotate(126deg);
}
.c100.p36 .bar {
  transform: rotate(129.6deg);
}
.c100.p37 .bar {
  transform: rotate(133.20000000000002deg);
}
.c100.p38 .bar {
  transform: rotate(136.8deg);
}
.c100.p39 .bar {
  transform: rotate(140.4deg);
}
.c100.p40 .bar {
  transform: rotate(144deg);
}
.c100.p41 .bar {
  transform: rotate(147.6deg);
}
.c100.p42 .bar {
  transform: rotate(151.20000000000002deg);
}
.c100.p43 .bar {
  transform: rotate(154.8deg);
}
.c100.p44 .bar {
  transform: rotate(158.4deg);
}
.c100.p45 .bar {
  transform: rotate(162deg);
}
.c100.p46 .bar {
  transform: rotate(165.6deg);
}
.c100.p47 .bar {
  transform: rotate(169.20000000000002deg);
}
.c100.p48 .bar {
  transform: rotate(172.8deg);
}
.c100.p49 .bar {
  transform: rotate(176.4deg);
}
.c100.p50 .bar {
  transform: rotate(180deg);
}
.c100.p51 .bar {
  transform: rotate(183.6deg);
}
.c100.p52 .bar {
  transform: rotate(187.20000000000002deg);
}
.c100.p53 .bar {
  transform: rotate(190.8deg);
}
.c100.p54 .bar {
  transform: rotate(194.4deg);
}
.c100.p55 .bar {
  transform: rotate(198deg);
}
.c100.p56 .bar {
  transform: rotate(201.6deg);
}
.c100.p57 .bar {
  transform: rotate(205.20000000000002deg);
}
.c100.p58 .bar {
  transform: rotate(208.8deg);
}
.c100.p59 .bar {
  transform: rotate(212.4deg);
}
.c100.p60 .bar {
  transform: rotate(216deg);
}
.c100.p61 .bar {
  transform: rotate(219.6deg);
}
.c100.p62 .bar {
  transform: rotate(223.20000000000002deg);
}
.c100.p63 .bar {
  transform: rotate(226.8deg);
}
.c100.p64 .bar {
  transform: rotate(230.4deg);
}
.c100.p65 .bar {
  transform: rotate(234deg);
}
.c100.p66 .bar {
  transform: rotate(237.6deg);
}
.c100.p67 .bar {
  transform: rotate(241.20000000000002deg);
}
.c100.p68 .bar {
  transform: rotate(244.8deg);
}
.c100.p69 .bar {
  transform: rotate(248.4deg);
}
.c100.p70 .bar {
  transform: rotate(252deg);
}
.c100.p71 .bar {
  transform: rotate(255.6deg);
}
.c100.p72 .bar {
  transform: rotate(259.2deg);
}
.c100.p73 .bar {
  transform: rotate(262.8deg);
}
.c100.p74 .bar {
  transform: rotate(266.40000000000003deg);
}
.c100.p75 .bar {
  transform: rotate(270deg);
}
.c100.p76 .bar {
  transform: rotate(273.6deg);
}
.c100.p77 .bar {
  transform: rotate(277.2deg);
}
.c100.p78 .bar {
  transform: rotate(280.8deg);
}
.c100.p79 .bar {
  transform: rotate(284.40000000000003deg);
}
.c100.p80 .bar {
  transform: rotate(288deg);
}
.c100.p81 .bar {
  transform: rotate(291.6deg);
}
.c100.p82 .bar {
  transform: rotate(295.2deg);
}
.c100.p83 .bar {
  transform: rotate(298.8deg);
}
.c100.p84 .bar {
  transform: rotate(302.40000000000003deg);
}
.c100.p85 .bar {
  transform: rotate(306deg);
}
.c100.p86 .bar {
  transform: rotate(309.6deg);
}
.c100.p87 .bar {
  transform: rotate(313.2deg);
}
.c100.p88 .bar {
  transform: rotate(316.8deg);
}
.c100.p89 .bar {
  transform: rotate(320.40000000000003deg);
}
.c100.p90 .bar {
  transform: rotate(324deg);
}
.c100.p91 .bar {
  transform: rotate(327.6deg);
}
.c100.p92 .bar {
  transform: rotate(331.2deg);
}
.c100.p93 .bar {
  transform: rotate(334.8deg);
}
.c100.p94 .bar {
  transform: rotate(338.40000000000003deg);
}
.c100.p95 .bar {
  transform: rotate(342deg);
}
.c100.p96 .bar {
  transform: rotate(345.6deg);
}
.c100.p97 .bar {
  transform: rotate(349.2deg);
}
.c100.p98 .bar {
  transform: rotate(352.8deg);
}
.c100.p99 .bar {
  transform: rotate(356.40000000000003deg);
}
.c100.p100 .bar {
  transform: rotate(360deg);
}
.c100:hover {
  cursor: default;
}
.c100:hover > span {
  width: 90px;
  line-height: 90px;
  font-size: 24px;
  color: #fff;
}
.c100:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}
.c100.dark {
  background-color: #777;
}
.c100.dark .bar,
.c100.dark .fill {
  border-color: #c6ff00 !important;
}
.c100.dark > span {
  color: #777;
}
.c100.dark:after {
  background-color: #666;
}
.c100.dark:hover > span {
  color: #c6ff00;
}
.c100.green .bar,
.c100.green .fill {
  border-color: #4db53c !important;
}
.c100.green:hover > span {
  color: #4db53c;
}
.c100.green.dark .bar,
.c100.green.dark .fill {
  border-color: #5fd400 !important;
}
.c100.green.dark:hover > span {
  color: #5fd400;
}
.c100.orange .bar,
.c100.orange .fill {
  border-color: #dd9d22 !important;
}
.c100.orange:hover > span {
  color: #dd9d22;
}
.c100.orange.dark .bar,
.c100.orange.dark .fill {
  border-color: #e08833 !important;
}
.c100.orange.dark:hover > span {
  color: #e08833;
}
.skills {
  padding: 3% 0;
  font-family: 'UniSansThin';
  color: #ffffff;
  background-image: url('/img/hiw-bg.png');
}
.skills .skills-block {
  width: 100%;
}
@media (max-width:767px) {
  .skills .skills-block {
    padding-left: 30%;
    padding-right: 20%;
  }
}
@media (min-width:768px) {
  .skills .skills-block {
    padding-left: 20px;
  }
}
.skills .skills-block .percents {
  display: block;
}
.skills .skills-block .percents .text-skills {
  text-align: center;
  color: white;
  font-family: 'PT Sans';
  font-size: 18px;
  font-style: italic;
  line-height: 20px;
}
.skills .skills-block .list {
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
  font-family: 'PT Sans';
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
}
.skills .skills-block .list span {
  color: #54b2ce;
  margin-right: 15px;
  font-size: 20px;
}
@media (min-width:768px) {
  .skills .last-skills .last-1 {
    padding-left: 160px;
  }
  .skills .last-skills .last-2 {
    padding-left: 50px;
    padding-right: 110px;
  }
}
@media (min-width:992px) {
  .skills .last-skills .last-1 {
    padding-left: 0;
  }
  .skills .last-skills .last-2 {
    padding-left: 0;
    padding-right: 0;
  }
  .skills .last-skills .skills-block {
    padding-left: 20px;
  }
}
.about-me {
  padding: 3% 0;
  color: #ffffff;
  background-color: #31383c;
}
.about-me .col-sm-4 {
  padding: 0;
}
.about-me h3 {
  color: white;
  font-family: 'RobotoCondensed';
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.about-me .info-item {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  padding: 6%;
  background-color: #415058;
}
.about-me .info-item p {
  font-family: 'PT Sans';
  font-weight: 400;
  line-height: 20px;
  font-size: 1.5rem;
}
.about-me .info-item p span {
  color: #ffbe04;
}
.about-me .photo-item {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  padding: 6%;
  background-image: url("/img/me.png");
  background-size: cover;
}
@media (max-width: 992px) {
  .info-item {
    width: 400px;
  }
  .photo-item {
    width: 400px;
  }
}
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin: 0 auto;
}
.what-people-say {
  padding: 3% 0;
  color: #ffffff;
  background-image: url('/img/hiw-bg.png');
}
.what-people-say p {
  text-align: center;
  font-family: 'PT Sans';
  font-size: 22px;
}
.what-people-say .ivan-ivanov {
  padding-bottom: 40px;
  display: table;
  margin: 25px auto;
}
.what-people-say .ivan-ivanov img {
  margin-right: 15px;
}
.what-people-say .ivan-ivanov p {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font-size: 18px;
}
.what-people-say .ivan-ivanov span {
  font-weight: bold;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-button-prev {
  top: 25%;
  background-image: url('/img/blue_left.png');
  -webkit-filter: grayscale(100%);
}
@media (max-width: 750px) {
  .swiper-button-prev {
    background-image: none;
  }
}
.swiper-button-prev:hover {
  -webkit-filter: grayscale(0%);
}
.swiper-button-next {
  top: 25%;
  background-image: url('/img/blue_right.png');
  -webkit-filter: grayscale(100%);
}
@media (max-width: 750px) {
  .swiper-button-next {
    background-image: none;
  }
}
.swiper-button-next:hover {
  -webkit-filter: grayscale(0%);
}
.swiper-pagination-bullet-active {
  background: #000;
}
.blog {
  background-image: url('/img/blog_bg.png');
  color: white;
  padding: 6%;
}
.blog .blog-text {
  font-family: 'PT Sans';
  font-size: 18px;
}
@media (max-width:767px) {
  .blog .blog-text {
    text-align: center;
  }
}
.blog .blog-text p {
  margin-top: 20px;
}
@media (max-width:767px) {
  .blog .blog-text p {
    text-align: center;
  }
}
@media (min-width:768px) {
  .blog .blog-text p {
    text-align: left;
  }
}
@media (min-width:992px) {
  .blog .blog-text p {
    text-align: left;
  }
}
.blog .link-a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-family: 'RobotoCondensed';
}
@media (max-width:767px) {
  .blog .link-a {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (min-width:768px) {
  .blog .link-a {
    text-align: left;
    margin-bottom: 20px;
  }
}
@media (min-width:992px) {
  .blog .link-a {
    text-align: left;
    margin-bottom: 0;
  }
}
.blog-heading {
  margin-bottom: 3%;
}
.img-responsive {
  width: 100%;
  border: 3px solid #2cbfc6;
  border-radius: 4px;
  padding: 7px;
}
.border-btn {
  display: block;
  font-family: 'RobotoCondensed';
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  width: 150px;
  height: 44px;
  margin: 15px 0;
  background: transparent;
  color: #FFFFFF;
  padding: 0;
  border: 2px solid #61aed1;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  outline: none;
}
.border-btn:hover {
  background-color: #61aed1;
  color: white;
  border-color: #61aed1;
}
.border-btn:active {
  background-color: #7cc5e6;
  color: white;
  border-color: #7cc5e6;
  outline: none;
}
.write-to-me {
  padding: 3% 0;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #6babd3, #22c2c4);
  /* Standard syntax */
}
.write-to-me .write-heading {
  color: white;
  font-family: 'RobotoCondensed';
  font-size: 36px;
  font-weight: 400;
  line-height: 11px;
  text-transform: uppercase;
}
@media (max-width:767px) {
  .write-to-me .write-heading h2 {
    text-align: center;
  }
}
@media (min-width:768px) {
  .write-to-me .write-heading h2 {
    text-align: right;
  }
}
.write-to-me .send-message {
  display: block;
  width: 240px;
  padding: 20px;
  color: black;
  margin: 8px 0;
  font-family: 'RobotoCondensed';
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  border-color: white;
  background: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.write-to-me .send-message:hover {
  background: #d0edf2;
}
.write-to-me .send-message:active {
  z-index: 28;
  background-color: #7cc5e6;
  color: white;
  border-color: #7cc5e6;
  outline: none;
}
@media (max-width:767px) {
  .write-to-me .send-message {
    display: inline-block;
  }
}
@media (max-width:767px) {
  .write-to-me .btn-send-block {
    text-align: center;
    width: 100%;
  }
}
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #22282b;
}
footer .phone {
  color: #54b2ce;
  text-align: center;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 24px;
}
footer .email {
  text-align: center;
  font-size: 24px;
  color: #54b2ce;
  font-family: 'PT Sans';
  font-weight: bold;
  margin-bottom: 30px;
}
footer p {
  color: #fff;
  text-align: center;
  font-family: 'RobotoCondensed';
  font-size: 24px;
}
.wrap {
  width: 100%;
}
.title {
  margin-bottom: 6%;
  text-align: center;
  font-size: 36px;
  font-family: 'RobotoCondensed';
  text-transform: uppercase;
  color: #ffffff;
}
.button-hover {
  background-color: #61aed1;
  color: white;
  border-color: #61aed1;
  border-radius: 4px;
}
.button-active {
  z-index: 28;
  background-color: #7cc5e6;
  color: white;
  border-color: #7cc5e6;
  outline: none;
}
@media (min-width: 768px) {
  .intro h1 {
    font-size: 6rem !important;
  }
  .img-wrapper {
    margin: 0;
  }
  .project-1 {
    background-size: 100% 200%;
  }
  .svg-wrap {
    width: 35% !important;
  }
}
@media (max-width: 450px) {
  .svg-wrap {
    display: none;
  }
  .write-to-me .send-message {
    margin-bottom: 7%;
  }
  footer {
    padding: 5% 0;
  }
  footer p {
    margin: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
