@import "../mixins";
@aquamarine: rgb(32,195,196);

@import "navbar";
@import "post";
@import "popup";
@import "footer";

.button-hover {
  background-color: #61aed1;
  color: white;
  border-color: #61aed1;
}
.button-active {
  background-color: #7cc5e6;
  color: white;
  border-color: #7cc5e6;
  outline: none;
}
