.blog {
  background-image: url('/img/hiw-bg.png');
  height: 100%;
}

.first-bg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.main-screen-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

 .position-block { 
    margin-top: 103px;
    height: 100%;
    .side-block {
      padding-top: 5px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      margin-bottom: 6%;
      color: #000000;
      background-color: #ffffff;
      border-radius: 5px;
      font-family: 'RobotoCondensed';
          h3 {
            margin-bottom: 30px;
          }
          .big-button {
            border-radius: 5px;
            border:1px solid @aquamarine;
            width: 110px;
            height: 35px;
            font-family: RobotoCondensed;
            color: #31383c;
            font-size: 1em;
            line-height: 1em;
            margin-right: 3px;
            font-weight: 700;
            margin-bottom: 10px;
            margin-right: 5px;
            box-sizing: border-box;
            background-color:  rgba(49, 56, 60, 0);
            @media (min-width: 768px) {
              margin-top: 10px;
            }
            @media (min-width: 1200px) {
              margin-top: 0;
            }
          }
          .small-button {
            border-radius: 5px;
            border:1px solid @aquamarine;
            width: 50px;
            height: 35px;
            margin-right: 3px;
            font-family: RobotoCondensed;
            color: #31383c;
            font-size: 1em;
            line-height: 1em;
            font-weight: 700;
            box-sizing: border-box;
            background-color:  rgba(49, 56, 60, 0);
            margin-bottom: 10px;
            margin-right: 5px;
            @media (min-width: 768px) {
              margin-top: 10px;

            }
            @media (min-width: 1200px) {
              margin-top: 0;
            }
          }
        
    }
  }      
  
.block-center {
  padding: 3% 5% 5% 5%;
  margin-bottom: 50px;
  margin-top: 60px;
  margin-left: 3%;

  .position-content {
    margin-top: 3%;

    a:hover{
      opacity: 0.75;
      text-decoration: none;
    }

    .top-block {
      img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

      }
    }
    .bot-block {
      padding: 3% 5% 5% 5%;
      height: 100%;
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      h1 {
        font-family: 'RobotoCondensedBold';
        color: #000000;
        line-height: 30px;
        font-size: 1.5em;
        font-weight: 700;
        text-align: left;
        margin-bottom: 20px;
      }
      p {
        font-family: 'PT Sans';
        color: #000000;
        font-size: 1em;
        line-height: 30px;
        text-align: left;
        margin-bottom: 5%;
      }
      h4 {
        font-family: 'PT Sans';
        color: #999999;
        font-size: 1em;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        margin: 20px 0;
      }
      .share {
        display: inline-block;
        float: left;

        h3 {
          font-family: RobotoCondensedBold;
          color: #cccccc;
          font-size: 1em;
          line-height: 16px;
          text-align: left;
          margin: 15px 0;
        }
      }
      .left-btn {
        display: inline-block;

        .share-btn {
          border-radius: 5px;
          border: 2px solid #cccccc;
          background-color:
          rgba(255, 255, 255, 0);
          width: 44px;
          height: 44px;
          margin-left: 10px;
        }
      }
      .right-btn {
        display: inline-block;
        float: right;
        .read-more {
          border-radius: 5px;
          border:2px solid @aquamarine;
          background-color:
          rgba(255, 255, 255, 0);
          width: 150px;
          height: 44px;
          font-family: RobotoCondensed;
          color: #31383c;
          font-size: 1em;
          font-weight: 700;
        }
      }

    }
  }
}
